.carousel-component {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
}

.carousel-img {
  width: 500px;
}

.carousel-button {
  border: 0;
  background-color: transparent;
  color: white;
  height: 100%;
  font-size: 36px;
  padding: 20px;
  filter: opacity(0.4);
}

.carousel-button:hover {
  filter: opacity(1);
}

.carousel-overlay {
  position: absolute;
}

#carousel-leftbutton {
  left: 0;
}

#carousel-rightbutton {
  right: 0;
}
